* {
  margin: 0;
  padding: 0;
}

table tr th {
  background: #00ACD5 !important;
  color: white !important;
}

.MuiModal-root {
  z-index: 999 !important;
}

table tr th,
table tr td {
  border-left: 1px solid rgba(200, 200, 200, 0.5);
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}
